# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

.tea/
weixin_alipay/.tea/workbench.json
weixin_alipay/.tea/entryFiles-development/index$.worker.js
weixin_alipay/.tea/entryFiles-development/index$.web.js
weixin_alipay/.tea/entryFiles-development/importScripts$.js
weixin_alipay/.tea/entryFiles-development/config$.js
weixin_alipay/.tea/configuration/mini-program.json
weixin_alipay/.tea/workbench.json
weixin_alipay/.tea/configuration/mini-program.json
weixin_alipay/.tea/configuration/mini-program.json
weixin_alipay/.tea/workbench.json
weixin_alipay/.tea/configuration/mini-program.json
weixin_alipay/.tea/workbench.json
weixin_alipay/.tea/workbench.json
weixin_alipay/.tea/workbench.json
weixin_alipay/.tea/configuration/mini-program.json
weixin_alipay/.tea/workbench.json
weixin_alipay/.tea/configuration/mini-program.json
weixin_alipay/.tea/workbench.json
miniprogram_dev/weixin2alipay/ui/web-view/web-view.json
miniprogram_dev/weixin2alipay/ui/web-view/web-view.js
miniprogram_dev/weixin2alipay/ui/voip-room/voip-room.json
miniprogram_dev/weixin2alipay/ui/voip-room/voip-room.js
miniprogram_dev/weixin2alipay/ui/video/video.json
miniprogram_dev/weixin2alipay/ui/video/video.js
miniprogram_dev/weixin2alipay/ui/textarea/textarea.json
miniprogram_dev/weixin2alipay/ui/textarea/textarea.js
miniprogram_dev/weixin2alipay/ui/text/text.json
miniprogram_dev/weixin2alipay/ui/text/text.js
miniprogram_dev/weixin2alipay/ui/switch/switch.json
miniprogram_dev/weixin2alipay/ui/switch/switch.js
miniprogram_dev/weixin2alipay/ui/slider/slider.json
miniprogram_dev/weixin2alipay/ui/slider/slider.js
miniprogram_dev/weixin2alipay/ui/scroll-view/scroll-view.json
miniprogram_dev/weixin2alipay/ui/scroll-view/scroll-view.js
miniprogram_dev/weixin2alipay/ui/rich-text/rich-text.json
miniprogram_dev/weixin2alipay/ui/rich-text/rich-text.js
miniprogram_dev/weixin2alipay/ui/radio/radio.json
miniprogram_dev/weixin2alipay/ui/radio/radio.js
miniprogram_dev/weixin2alipay/ui/progress/progress.json
miniprogram_dev/weixin2alipay/ui/progress/progress.js
miniprogram_dev/weixin2alipay/ui/picker/picker.json
miniprogram_dev/weixin2alipay/ui/picker/picker.js
miniprogram_dev/weixin2alipay/ui/picker-view/picker-view.json
miniprogram_dev/weixin2alipay/ui/picker-view/picker-view.js
miniprogram_dev/weixin2alipay/ui/picker-view-column/picker-view-column.json
miniprogram_dev/weixin2alipay/ui/picker-view-column/picker-view-column.js
miniprogram_dev/weixin2alipay/ui/page-meta/page-meta.json
miniprogram_dev/weixin2alipay/ui/page-meta/page-meta.js
miniprogram_dev/weixin2alipay/ui/open-data/open-data.json
miniprogram_dev/weixin2alipay/ui/open-data/open-data.js
miniprogram_dev/weixin2alipay/ui/official-account/official-account.json
miniprogram_dev/weixin2alipay/ui/official-account/official-account.js
miniprogram_dev/weixin2alipay/ui/navigator/navigator.json
miniprogram_dev/weixin2alipay/ui/navigator/navigator.js
miniprogram_dev/weixin2alipay/ui/navigation-bar/navigation-bar.json
miniprogram_dev/weixin2alipay/ui/navigation-bar/navigation-bar.js
miniprogram_dev/weixin2alipay/ui/movable-view/movable-view.json
miniprogram_dev/weixin2alipay/ui/movable-view/movable-view.js
miniprogram_dev/weixin2alipay/ui/movable-area/movable-area.json
miniprogram_dev/weixin2alipay/ui/movable-area/movable-area.js
miniprogram_dev/weixin2alipay/ui/match-media/match-media.json
miniprogram_dev/weixin2alipay/ui/match-media/match-media.js
miniprogram_dev/weixin2alipay/ui/map/map.json
miniprogram_dev/weixin2alipay/ui/map/map.js
miniprogram_dev/weixin2alipay/ui/live-pusher/live-pusher.json
miniprogram_dev/weixin2alipay/ui/live-pusher/live-pusher.js
miniprogram_dev/weixin2alipay/ui/live-player/live-player.json
miniprogram_dev/weixin2alipay/ui/live-player/live-player.js
miniprogram_dev/weixin2alipay/ui/label/label.json
miniprogram_dev/weixin2alipay/ui/label/label.js
miniprogram_dev/weixin2alipay/ui/input/input.json
miniprogram_dev/weixin2alipay/ui/input/input.js
miniprogram_dev/weixin2alipay/ui/image/image.json
miniprogram_dev/weixin2alipay/ui/image/image.js
miniprogram_dev/weixin2alipay/ui/icon/icon.json
miniprogram_dev/weixin2alipay/ui/icon/icon.js
miniprogram_dev/weixin2alipay/ui/functional-page-navigator/functional-page-navigator.json
miniprogram_dev/weixin2alipay/ui/functional-page-navigator/functional-page-navigator.js
miniprogram_dev/weixin2alipay/ui/editor/editor.json
miniprogram_dev/weixin2alipay/ui/editor/editor.js
miniprogram_dev/weixin2alipay/ui/cover-view/cover-view.json
miniprogram_dev/weixin2alipay/ui/cover-view/cover-view.js
miniprogram_dev/weixin2alipay/ui/cover-image/cover-image.json
miniprogram_dev/weixin2alipay/ui/cover-image/cover-image.js
miniprogram_dev/weixin2alipay/ui/checkbox/checkbox.json
miniprogram_dev/weixin2alipay/ui/checkbox/checkbox.js
miniprogram_dev/weixin2alipay/ui/checkbox-group/checkbox-group.json
miniprogram_dev/weixin2alipay/ui/checkbox-group/checkbox-group.js
miniprogram_dev/weixin2alipay/ui/canvas/canvas.json
miniprogram_dev/weixin2alipay/ui/canvas/canvas.js
miniprogram_dev/weixin2alipay/ui/camera/camera.json
miniprogram_dev/weixin2alipay/ui/camera/camera.js
miniprogram_dev/weixin2alipay/ui/button/button.json
miniprogram_dev/weixin2alipay/ui/button/button.js
miniprogram_dev/weixin2alipay/ui/audio/audio.json
miniprogram_dev/weixin2alipay/ui/audio/audio.js
miniprogram_dev/weixin2alipay/ui/aria-component/aria-component.json
miniprogram_dev/weixin2alipay/ui/aria-component/aria-component.js
miniprogram_dev/weixin2alipay/ui/ad/ad.json
miniprogram_dev/weixin2alipay/ui/ad/ad.js
miniprogram_dev/weixin2alipay/package.json
miniprogram_dev/weixin2alipay/index.json
miniprogram_dev/weixin2alipay/index.js
miniprogram_dev/project.config.json
miniprogram_dev/package.json
miniprogram_dev/package-lock.json
miniprogram_dev/example/index.wxss
miniprogram_dev/example/index.wxml
miniprogram_dev/example/index.json
miniprogram_dev/example/index.js
miniprogram_dev/app.wxss
miniprogram_dev/app.json
miniprogram_dev/app.js
demo/pages/index.json
demo/pages/index.js
demo/pages/index.axml
demo/pages/index.acss
demo/mini.project.json
demo/es/ui/web-view/web-view.json
demo/es/ui/web-view/web-view.axml
demo/es/ui/voip-room/voip-room.json
demo/es/ui/voip-room/voip-room.axml
demo/es/ui/view/view.json
demo/es/ui/view/view.axml
demo/es/ui/video/video.json
demo/es/ui/video/video.axml
demo/es/ui/textarea/textarea.json
demo/es/ui/textarea/textarea.axml
demo/es/ui/text/text.json
demo/es/ui/text/text.axml
demo/es/ui/switch/switch.json
demo/es/ui/switch/switch.axml
demo/es/ui/swiper/swiper.json
demo/es/ui/swiper/swiper.axml
demo/es/ui/swiper-item/swiper-item.json
demo/es/ui/swiper-item/swiper-item.axml
demo/es/ui/slider/slider.json
demo/es/ui/slider/slider.axml
demo/es/ui/scroll-view/scroll-view.json
demo/es/ui/scroll-view/scroll-view.axml
demo/es/ui/rich-text/rich-text.json
demo/es/ui/rich-text/rich-text.axml
demo/es/ui/radio/radio.json
demo/es/ui/radio/radio.axml
demo/es/ui/radio-group/radio-group.json
demo/es/ui/radio-group/radio-group.axml
demo/es/ui/progress/progress.json
demo/es/ui/progress/progress.axml
demo/es/ui/picker/picker.json
demo/es/ui/picker/picker.axml
demo/es/ui/picker-view/picker-view.json
demo/es/ui/picker-view/picker-view.axml
demo/es/ui/picker-view-column/picker-view-column.json
demo/es/ui/picker-view-column/picker-view-column.axml
demo/es/ui/page-meta/page-meta.json
demo/es/ui/page-meta/page-meta.axml
demo/es/ui/open-data/open-data.json
demo/es/ui/open-data/open-data.axml
demo/es/ui/official-account/official-account.json
demo/es/ui/official-account/official-account.axml
demo/es/ui/navigator/navigator.json
demo/es/ui/navigator/navigator.axml
demo/es/ui/navigation-bar/navigation-bar.json
demo/es/ui/navigation-bar/navigation-bar.axml
demo/es/ui/movable-view/movable-view.json
demo/es/ui/movable-view/movable-view.axml
demo/es/ui/movable-area/movable-area.json
demo/es/ui/movable-area/movable-area.axml
demo/es/ui/match-media/match-media.json
demo/es/ui/match-media/match-media.axml
demo/es/ui/map/map.json
demo/es/ui/map/map.axml
demo/es/ui/live-pusher/live-pusher.json
demo/es/ui/live-pusher/live-pusher.axml
demo/es/ui/live-player/live-player.json
demo/es/ui/live-player/live-player.axml
demo/es/ui/label/label.json
demo/es/ui/label/label.axml
demo/es/ui/input/input.json
demo/es/ui/input/input.axml
demo/es/ui/image/image.json
demo/es/ui/image/image.axml
demo/es/ui/icon/icon.json
demo/es/ui/icon/icon.axml
demo/es/ui/functional-page-navigator/functional-page-navigator.json
demo/es/ui/functional-page-navigator/functional-page-navigator.axml
demo/es/ui/editor/editor.json
demo/es/ui/editor/editor.axml
demo/es/ui/cover-view/cover-view.json
demo/es/ui/cover-view/cover-view.axml
demo/es/ui/cover-image/cover-image.json
demo/es/ui/cover-image/cover-image.axml
demo/es/ui/checkbox/checkbox.json
demo/es/ui/checkbox/checkbox.axml
demo/es/ui/checkbox-group/checkbox-group.json
demo/es/ui/checkbox-group/checkbox-group.axml
demo/es/ui/canvas/canvas.json
demo/es/ui/canvas/canvas.axml
demo/es/ui/camera/camera.json
demo/es/ui/camera/camera.axml
demo/es/ui/button/button.json
demo/es/ui/button/button.axml
demo/es/ui/audio/audio.json
demo/es/ui/audio/audio.axml
demo/es/ui/aria-component/aria-component.json
demo/es/ui/aria-component/aria-component.axml
demo/es/ui/ad/ad.json
demo/es/ui/ad/ad.axml
demo/es/ui/_/time-picker/time-picker.json
demo/es/ui/_/time-picker/time-picker.axml
demo/es/ui/_/selector-picker/selector-picker.json
demo/es/ui/_/selector-picker/selector-picker.axml
demo/es/ui/_/ragion-picker/ragion-picker.json
demo/es/ui/_/ragion-picker/ragion-picker.axml
demo/es/ui/_/multiselector-picker/multiselector-picker.json
demo/es/ui/_/multiselector-picker/multiselector-picker.axml
demo/es/ui/_/mask-view/mask-view.json
demo/es/ui/_/mask-view/mask-view.axml
demo/es/ui/_/date-picker/date-picker.json
demo/es/ui/_/date-picker/date-picker.axml
demo/es/ui/_/bottom-view/bottom-view.json
demo/es/ui/_/bottom-view/bottom-view.axml
demo/es/page/share/share.json
demo/es/page/share/share.axml
demo/es/package.json
demo/app.json
demo/app.js
demo/app.acss
demo/pages/index.json
demo/pages/index.js
demo/pages/index.axml
demo/pages/index.acss
demo/mini.project.json
demo/es/ui/web-view/web-view.json
demo/es/ui/web-view/web-view.axml
demo/es/ui/voip-room/voip-room.json
demo/es/ui/voip-room/voip-room.axml
demo/es/ui/view/view.json
demo/es/ui/view/view.axml
demo/es/ui/video/video.json
demo/es/ui/video/video.axml
demo/es/ui/textarea/textarea.json
demo/es/ui/textarea/textarea.axml
demo/es/ui/text/text.json
demo/es/ui/text/text.axml
demo/es/ui/switch/switch.json
demo/es/ui/switch/switch.axml
demo/es/ui/swiper/swiper.json
demo/es/ui/swiper/swiper.axml
demo/es/ui/swiper-item/swiper-item.json
demo/es/ui/swiper-item/swiper-item.axml
demo/es/ui/slider/slider.json
demo/es/ui/slider/slider.axml
demo/es/ui/scroll-view/scroll-view.json
demo/es/ui/scroll-view/scroll-view.axml
demo/es/ui/rich-text/rich-text.json
demo/es/ui/rich-text/rich-text.axml
demo/es/ui/radio/radio.json
demo/es/ui/radio/radio.axml
demo/es/ui/radio-group/radio-group.json
demo/es/ui/radio-group/radio-group.axml
demo/es/ui/progress/progress.json
demo/es/ui/progress/progress.axml
demo/es/ui/picker/picker.json
demo/es/ui/picker/picker.axml
demo/es/ui/picker-view/picker-view.json
demo/es/ui/picker-view/picker-view.axml
demo/es/ui/picker-view-column/picker-view-column.json
demo/es/ui/picker-view-column/picker-view-column.axml
demo/es/ui/page-meta/page-meta.json
demo/es/ui/page-meta/page-meta.axml
demo/es/ui/open-data/open-data.json
demo/es/ui/open-data/open-data.axml
demo/es/ui/official-account/official-account.json
demo/es/ui/official-account/official-account.axml
demo/es/ui/navigator/navigator.json
demo/es/ui/navigator/navigator.axml
demo/es/ui/navigation-bar/navigation-bar.json
demo/es/ui/navigation-bar/navigation-bar.axml
demo/es/ui/movable-view/movable-view.json
demo/es/ui/movable-view/movable-view.axml
demo/es/ui/movable-area/movable-area.json
demo/es/ui/movable-area/movable-area.axml
demo/es/ui/match-media/match-media.json
demo/es/ui/match-media/match-media.axml
demo/es/ui/map/map.json
demo/es/ui/map/map.axml
demo/es/ui/live-pusher/live-pusher.json
demo/es/ui/live-pusher/live-pusher.axml
demo/es/ui/live-player/live-player.json
demo/es/ui/live-player/live-player.axml
demo/es/ui/label/label.json
demo/es/ui/label/label.axml
demo/es/ui/input/input.json
demo/es/ui/input/input.axml
demo/es/ui/image/image.json
demo/es/ui/image/image.axml
demo/es/ui/icon/icon.json
demo/es/ui/icon/icon.axml
demo/es/ui/functional-page-navigator/functional-page-navigator.json
demo/es/ui/functional-page-navigator/functional-page-navigator.axml
demo/es/ui/editor/editor.json
demo/es/ui/editor/editor.axml
demo/es/ui/cover-view/cover-view.json
demo/es/ui/cover-view/cover-view.axml
demo/es/ui/cover-image/cover-image.json
demo/es/ui/cover-image/cover-image.axml
demo/es/ui/checkbox/checkbox.json
demo/es/ui/checkbox/checkbox.axml
demo/es/ui/checkbox-group/checkbox-group.json
demo/es/ui/checkbox-group/checkbox-group.axml
demo/es/ui/canvas/canvas.json
demo/es/ui/canvas/canvas.axml
demo/es/ui/camera/camera.json
demo/es/ui/camera/camera.axml
demo/es/ui/button/button.json
demo/es/ui/button/button.axml
demo/es/ui/audio/audio.json
demo/es/ui/audio/audio.axml
demo/es/ui/aria-component/aria-component.json
demo/es/ui/aria-component/aria-component.axml
demo/es/ui/ad/ad.json
demo/es/ui/ad/ad.axml
demo/es/ui/_/time-picker/time-picker.json
demo/es/ui/_/time-picker/time-picker.axml
demo/es/ui/_/selector-picker/selector-picker.json
demo/es/ui/_/selector-picker/selector-picker.axml
demo/es/ui/_/ragion-picker/ragion-picker.json
demo/es/ui/_/ragion-picker/ragion-picker.axml
demo/es/ui/_/multiselector-picker/multiselector-picker.json
demo/es/ui/_/multiselector-picker/multiselector-picker.axml
demo/es/ui/_/mask-view/mask-view.json
demo/es/ui/_/mask-view/mask-view.axml
demo/es/ui/_/date-picker/date-picker.json
demo/es/ui/_/date-picker/date-picker.axml
demo/es/ui/_/bottom-view/bottom-view.json
demo/es/ui/_/bottom-view/bottom-view.axml
demo/es/page/share/share.json
demo/es/page/share/share.axml
demo/es/package.json
demo/app.json
demo/app.js
demo/app.acss
